# Environment
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Deno & Node
node_modules/
dist/
.astro/
*.log*

# Database
*.db
*.db-journal
.opencode/

# OS
.DS_Store
.history/

# playwright
.playwright-cli/
test-results/